<div class="gallery_page_container" style="margin-top:0px;">
  <% if false %>
      <div class="company_name">
        <h2>Fox Decorating</h2>
      </div>
  <% end %>

  <div class="first_row_pics">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work1.jpg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work1.jpg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Master Bedroom</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work2.jpg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work2.jpg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Master Bedroom</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work5.jpg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work5.jpg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Dining Area</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="second_row_pics">
    <div class="row">
      <div class="col-sm-4 pic-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work6.jpeg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work6.jpeg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Front Room</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work3.jpg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work3.jpg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Master Bedroom</p>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <a href="https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work4.jpg">
            <%= image_tag("https://s3.us-east-2.amazonaws.com/scottfoxsbucket/tom_work4.jpg", alt: "Room")  %>
            <a/>
          <div class="caption">
            <p>Living Area</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>

<!--
https://www.w3schools.com/bootstrap/bootstrap_images.asp-->
