<div class="gallery_page_container" style="margin-top:0px;">
  <% if false %>
      <div class="company_name">
        <h2>Fox Decorating</h2>
      </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work1.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work2.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work5.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work4.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work3.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
          <%= image_tag("tom_work34.jpg", alt: "Room")  %>
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<!--
https://www.w3schools.com/bootstrap/bootstrap_images.asp-->
