<div id="wrap">
  <div class="page_container">

    <div id="front_page_picture">
      <%= image_tag("fox_logo.jpg", alt: "Fox with paintbrush")  %>
    </div>

    <div class="container">
      <div class="row">

        <div class="contact_us_container col-md-8 col-md-offset-2">

          <h1> Contact Fox Decorating</h1>

          <p class="center"> Leave your number (with an optional message) and Tom will be in touch with you soon!</p><br/>

          <%= form_for @message, url: contact_path, method: :post do |f| %>

              <%= f.label :name, "Name:" %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :phone_number, "Contact Phone:" %>
              <%= f.email_field :phone_number, class: 'form-control' %>

              <%= f.label :body, "Optional Message:" %>
              <%= f.email_field :body, class: 'form-control' %>

          <% end %>
          <br/>
          <%= submit_tag("Contact Us", class: "btn btn-primary col-md-12") %>

        </div>
      </div>
    </div>
  </div>
</div>
